*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.DS_Store
/build
/captures
.idea/vcs.xml
app/src/main/AndroidManifest_BACKUP_3800.xml
app/src/main/AndroidManifest_BACKUP_8040.xml
app/src/main/AndroidManifest_BASE_3800.xml
app/src/main/AndroidManifest_BASE_8040.xml
app/src/main/AndroidManifest_LOCAL_3800.xml
app/src/main/AndroidManifest_LOCAL_8040.xml
app/src/main/AndroidManifest_REMOTE_3800.xml
app/src/main/AndroidManifest_REMOTE_8040.xml
